@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import "~bulma/sass/utilities/_all";

$primary: #2D62ED;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$black: black;
$black-light: findLightColor($black);
$black-dark: findDarkColor($black);
$black-invert: findColorInvert($black);

$text: #707070;

$colors: mergeColorMaps(
  (
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    "black": (
      $black,
      $black-invert,
      $black-light,
      $black-dark,
    )
  ), $custom-colors
);

@import "screens/landing";
@import "elements/button";

@import "~bulma";
@import "~buefy/src/scss/buefy";
